
<div class="myformbox">
<div class="myform">

	<form action="" method="post">


		<div class="category_tree catalog_category">
			[+category+]
		</div>

		
		<div class="frm_row frm_row_errors"></div>
	
		<div class="frm_row frm_ok frm_ok">
			<p>Изменения сохранены!</p>
		</div>
		
		<div class="frm_row frm_row_sm">
			<input type="hidden" name="id" value="[+id+]" />
			<input type="hidden" name="form_action" value="catalog_category_save" />
			<div class="frm_inp"><button type="submit">Сохранить</button></div>
		</div>
		
	</form>

</div>
</div>