
<div class="itm alt_[+alt+]" data-id="[+id+]">
	<div class="enabled e_[+enabled+]">[[svg?n=`enabled_[+enabled+]`]]</div>

	<div class="id">[+id+].</div>

	<div class="alias">[+alias+]</div>

	<div class="name">[+name+]</div>

	<div class="form_p">[+form_product+]</div>

	<div class="type">[+type+]</div>

	<div class="usein">[+usein+]</div>

	<div class="multi">[+multi+]</div>

	<div class="bttns">
		<button class="gototab" data-tab="parameter_edit" data-id="[+id+]">Редактировать</button>
		<button class="gototab" data-tab="parameter_category" data-id="[+id+]">Категории</button>
	</div>
</div>