
<div class="myformbox">
<div class="myform">
	
	<div class="frm_row frm_ok frm_ok2">
		<p>Предложение добавлено!</p>
	</div>
		
	<form action="" method="post">
		
		<div class="frm_row">
			<div class="frm_inp">
				<div><input id="frm_enabled_y" type="radio" name="enabled" value="y" [+enabled_y+] /> <label for="frm_enabled_y">Включен</label></div>
				<div><input id="frm_enabled_n" type="radio" name="enabled" value="n" [+enabled_n+] /> <label for="frm_enabled_n">Выключен</label></div>
			</div>
		</div>
		
		
		[+parameters+]

		
		<div class="frm_row frm_row_errors"></div>
	
		<div class="frm_row frm_ok frm_ok1">
			<p>Изменения сохранены!</p>
		</div>
		
		<div class="frm_row frm_row_sm">
			<input type="hidden" name="id" value="[+id+]" />
			<input type="hidden" name="id_catalog" value="[+id_catalog+]" />
			<input type="hidden" name="form_action" value="[+form_action+]" />
			<div class="frm_inp"><button type="submit">Сохранить</button></div>
		</div>
		
	</form>

</div>
</div>