
<div class="frm_row">
	<div class="frm_inp prm_row_[+enabled+]">

		<div class="prm_row">
			<div class="prm_col prm_col_1 prm_col_lab"><span>[+id+].</span> [+name+]<span>[+ed+]</span></div>

			<div class="prm_col prm_col_2 [+prms_1+]">[+prms_1_name+]</div>

			<div class="prm_col prm_col_2 [+prms_2+]">[+prms_2_name+]</div>

			<div class="prm_col prm_col_2 [+prms_3+]">[+prms_3_name+]</div>

			<div class="prm_col prm_col_3 [+price_flag+]">Модификатор цены</div>

			<div class="prm_col prm_col_4 [+multi_flag+]">
				<div class="multibutton plus">[[svg?n=`plus`]]</div>
			</div>
		</div>

		<div class="prm_rows">

		[+values+]
		
		</div>

	</div>
</div>
