
<div class="prm_row">
	<div class="prm_col prm_col_1 [+type_str+]">
		<input class="prm_main_input" data-id="[+id_parameter+]" type="text" name="value[[+id_parameter+]][]" value="[+value+]" />
	</div>

	<div class="prm_col prm_col_1 [+type_prm+] [+prm_type_inputtext+]">
		<input type="text" name="value[[+id_parameter+]][]" value="[+value+]" />
	</div>

	<div class="prm_col prm_col_1 [+type_prm+] [+prm_type_select+]">
		<select name="value[[+id_parameter+]][]">
			[+value+]
		</select>
	</div>

	<div class="prm_col prm_col_5 [+type_prm+] [+prm_type_richtext+]">
		<textarea class="textareaautosize" name="value[[+id_parameter+]][]">[+value+]
		</textarea>
	</div>

	<div class="prm_col prm_col_5 [+type_boo+]">
		<input type="checkbox" name="value[[+id_parameter+]][]" value="y" [+value+] /> Да
	</div>

	<div class="prm_col prm_col_2 [+prms_1+]">
		<input type="text" name="prm1[[+id_parameter+]][]" value="[+prm1+]" />
	</div>

	<div class="prm_col prm_col_2 [+prms_2+]">
		<input type="text" name="prm2[[+id_parameter+]][]" value="[+prm2+]" />
	</div>

	<div class="prm_col prm_col_2 [+prms_3+]">
		<input type="text" name="prm3[[+id_parameter+]][]" value="[+prm3+]" />
	</div>

	<div class="prm_col prm_col_3 [+price_flag+]">
		<input type="text" name="price[[+id_parameter+]][]" value="[+price+]" />
	</div>

	<div class="prm_col prm_col_4 [+multi_flag+]">
		<div class="multibutton minus">[[svg?n=`minus`]]</div>
		<!-- <div class="multibutton move">[[svg?n=`move`]]</div> -->
	</div>
</div>
